<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>

<body>
  <div class="text-muted">
        
        <nav class="navbar navbar-dark bg-dark">
        <h2 class="text-white">Udyog.com - Student Dashboard</h2>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <h5> <a href="/studentDash" class="text-white navbar-brand">Home</a> </h5>
                <h5> <a href="/studentProfile" class="text-white navbar-brand">Edit Profile</a> </h5>
                <h5> <a href="" class="text-white navbar-brand">Notification</a> </h5>
                <h5> <a href="/studentLogout" class="text-white navbar-brand">Logout</a> </h5>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
        </div>
    </nav>
  </div>

  <div class="container-fluid">
        <p><u>
          <h1 class="text-left">About Mars Team</h1>
        </u></p>
 </div>

 <div class="row">
          
      <div class="offset-md-2 col-md-4">
               
               <h4>RaviShankar</h4>
               <p> Best pirate in the history</p>
      </div>
        
      <div class="col-md-3">
          <img src="">
      </div>
 </div>

<br>
<br>
<br>
<div class="row">

    <div class="offset-md-2 col-md-4">
       <h4>Srinivas</h4>
       <p>Adventurous, likes taking risk</p>
   </div>

   <div class="col-md-2 col-md-4">
       <img src="">
   </div>

</div> 
 
<br>
<br>
<br>

<div class="row">
    <div class="offset-md-2 col-md-4">
        <h4>Naresh</h4>
        <p>believes in equality</p>
    </div>
    <div class="off-md-3">
        <img src="">
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="offset-md-2 col-md-4">
        <h4>Ravi </h4>
        <p>believes in Ghost</p>
    </div>
    <div class="off-md-3">
        <img src="">
    </div>
</div>


</body>
</html>