<!--
    Author: Ravi Shankar
    Date Created: 10/04/2019
    Description: This html page is used to design the Home Page of Udyog.com
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/indexStyle.css">
    <title>Index</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <h2 class="text-white">Udyog.com</h2>
               
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-10 col-md-1">
                    <button class="btn btn-secondary">
                        <a class="text-white" href="recruiterLogin">Recruiter</a>
                    </button>
                </div>
            </div>

            <div class="offset-md-6 col-md-4" id="form">
                <form action="/" method="POST">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Student-Login
                        </button>
                        <div class="dropdown-menu"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/">Student-Login</a>
                            <a class="dropdown-item"
                                href="/recruiterLogin">Recruiter-Login</a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                    </div>
                    <p></p>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control"
                            id="exampleInputEmail1" name="email"
                            aria-describedby="emailHelp"
                            placeholder="Email">
                        <small id="emailHelp"
                            class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label
                            for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control"
                            id="password" name="password" placeholder="Password">
                    </div>

                    <button type="submit"
                        class="btn btn-primary">Submit</button>
                       
                        <P>If u dont have an account</P><a href="/signupStudent">sign up here</a>
                </form>
            </div>
            
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>

</html>