<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome Recruiter</title>
</head>
<style>
    #margin{
       margin : 2em
    };
</style>

<body>
    <div class="container-fluid">
        <div class=>
            <div class=>
             <div class=>
                  <table class="table table-bordered table-dark">
                      <div class="thead-dark">
                            <tr>
                                <th scope="col">Students Name</th>
                                <th scope="col">Organization Table</th>
                                <th scope="col">Institute</th>
                                <th scope="col">Experience </th>
                                <th scope="col">Location</th>
                                <th scope="col">Notice Period</th>
                                <th scope="col">Date Applied</th>
                            </tr>

                          <tbody>
                              <tr>
                                <th scope="row">#</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                            </tr>  
                            <tr>
                                <th scope="row">#</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                             </tr> 
                             <tr>
                                <th scope="row">#</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                                <td>@mdo
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn-secondary">View Resume</button>
                                </td>
                              </tr> 
                          </tbody>
                     </div>
                  </table>
                  <br>
                <div class="container">
                    <div class="panel panel-default">
                    <div class="row">
                           <div class="col-md-3" id="margin">
                               
                            hi
                        </span>
                        <div class="col-md-7">
                            hello
                            <br>
                            <pr>dbfhgbdfsgbfhgbjkhfgbsg</pr>
                        </div>
                        <div class="col-md-2">
                            bhag bhosdi
                        </div>
                    </div>
                </div>

             </div>
          </div>
        </div>
    </div>
</body>
</html>