<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Udyog.com - Recruiter Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h2 class="text-white">Udyog.com - Recruiter Dashboard</h2>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                <h5> <a href="" class="text-white navbar-brand">Home</a> </h5>
                <h5> <a href="/recruiterProfile" class="text-white navbar-brand">Edit Profile</a> </h5>
                <h5> <a href="/recruiterPostJob" class="text-white navbar-brand">Post Job</a> </h5>
                <h5> <a href="" class="text-white navbar-brand">Notification</a> </h5>
                <h5> <a href="/recruiterLogout" class="text-white navbar-brand">Logout</a> </h5>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </nav>

    <br>

    <div class="container-fluid">
        <table class="table table-striped">
               <thead class="thead-dark">
                  <tr>
                        <th scope="col">Students Name</th>
                        <th scope="col">Organization Table</th>
                        <th scope="col">Institute</th>
                        <th scope="col">Experience </th>
                        <th scope="col">Location</th>
                        <th scope="col">Notice Period</th>
                        <th scope="col">Date Applied</th>
                  </tr> 
            </thead>   

         <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>mark</td>
                  <td>otto</td>
                  <td>here
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">View Resume</button>  
                  </td>
                  <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Short List</button>
                  </td>
                  <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Reject</button>
                        <button type="button" class="btn btn-secondary">Download</button>
                  </td>
                  <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Save for future</button>
                   </td>
             </tr>  
              <tr>
                  <th scope="row">1</th>
                  <td>mark</td>
                  <td>otto</td>
                  <td>here
                      <br>
                       <br>
                       <button type="button" class="btn btn-secondary">View Resume</button>  
                  </td>
                   <td>@mdo
                      <br>
                      <br>
                      <button type="button" class="btn btn-secondary">Short List</button>
                  </td> 
                  <td>@mdo
                      <br>
                      <br> 
                      <button type="button" class="btn btn-secondary">Reject</button>
                      <button type="button" class="btn btn-secondary">Download</button>
                  </td>
                  <td>@mdo
                      <br>
                      <br>
                      <button type="button" class="btn btn-secondary">Save for future</button> 
                  </td>
             </tr> 
              <tr>
                    <th scope="row">1</th>
                    <td>mark</td>
                    <td>otto</td>
                    <td>here
                        <br>
                         <br>
                         <button type="button" class="btn btn-secondary">View Resume</button>  
                    </td>
                     <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Short List</button>
                    </td> 
                    <td>@mdo
                        <br>
                        <br> 
                        <button type="button" class="btn btn-secondary">Reject</button>
                        <button type="button" class="btn btn-secondary">Download</button>
                    </td>
                    <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Save for future</button> 
                    </td>
              </tr> 
         </tbody>
      </table>
      <br>
       
    <table class="table table-bordered">
     <thead class="thead-dark">
        <tr>
        <th scope="col">Open Position</th>
        <th scope="col">Position Job Description</th>
        <th scope="col">Applied Candidates</th>
        </tr> 
     </thead>
        <tbody>
            <tr>
                <td>Front End</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
               <td>Java Script</td>
               <td></td>
               <td></td>
            </tr>

            <tr>
                <td>Full Stack</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>        
              
    </table>

 </div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>