<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome Recruiter</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       Recruiter Dashboard
   </nav>
    <div class="container-fluid">
        <table class="table table-striped">
               <thead class="thead-dark">
                  <tr>
                        <th scope="col">Students Name</th>
                        <th scope="col">Organization Table</th>
                        <th scope="col">Institute</th>
                        <th scope="col">Experience </th>
                        <th scope="col">Location</th>
                        <th scope="col">Notice Period</th>
                        <th scope="col">Date Applied</th>
                  </tr> 
            </thead>   

         <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>mark</td>
                  <td>otto</td>
                  <td>here
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">View Resume</button>  
                  </td>
                  <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Short List</button>
                  </td>
                  <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Reject</button>
                        <button type="button" class="btn btn-secondary">Download</button>
                  </td>
                  <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Save for future</button>
                   </td>
             </tr>  
              <tr>
                  <th scope="row">1</th>
                  <td>mark</td>
                  <td>otto</td>
                  <td>here
                      <br>
                       <br>
                       <button type="button" class="btn btn-secondary">View Resume</button>  
                  </td>
                   <td>@mdo
                      <br>
                      <br>
                      <button type="button" class="btn btn-secondary">Short List</button>
                  </td> 
                  <td>@mdo
                      <br>
                      <br> 
                      <button type="button" class="btn btn-secondary">Reject</button>
                      <button type="button" class="btn btn-secondary">Download</button>
                  </td>
                  <td>@mdo
                      <br>
                      <br>
                      <button type="button" class="btn btn-secondary">Save for future</button> 
                  </td>
             </tr> 
              <tr>
                    <th scope="row">1</th>
                    <td>mark</td>
                    <td>otto</td>
                    <td>here
                        <br>
                         <br>
                         <button type="button" class="btn btn-secondary">View Resume</button>  
                    </td>
                     <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Short List</button>
                    </td> 
                    <td>@mdo
                        <br>
                        <br> 
                        <button type="button" class="btn btn-secondary">Reject</button>
                        <button type="button" class="btn btn-secondary">Download</button>
                    </td>
                    <td>@mdo
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary">Save for future</button> 
                    </td>
              </tr> 
         </tbody>
      </table>
      <br>
       
    <table class="table table-bordered">
     <thead class="thead-dark">
        <tr>
        <th scope="col">Open Position</th>
        <th scope="col">Position Job Description</th>
        <th scope="col">Applied Candidates</th>
        </tr> 
     </thead>
        <tbody>
            <tr>
                <td>Front End</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
               <td>Java Script</td>
               <td></td>
               <td></td>
            </tr>

            <tr>
                <td>Full Stack</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>        
              
    </table>

 </div>
</body>
</html>