<!--
    Author: Srinivas Namballa
    Date Created: 09/04/2019
    Description: This html page is used to post jobs by recruiters at Udyog.com
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Udyog - Recruiter Post Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <h2 class="text-white">Udyog.com - Recruiter Post Job</h2>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <h5> <a href="/recruiterDash" class="text-white navbar-brand">Home</a> </h5>
                <h5> <a href="/recruiterProfile" class="text-white navbar-brand">Edit Profile</a> </h5>
                <h5> <a href="" class="text-white navbar-brand">Notification</a> </h5>
                <h5> <a href="/" class="text-white navbar-brand">Logout</a> </h5>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
        </div>
    </nav>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <form action="/recruiterPostJob" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Job Title</label>
                        <input type="text" class="form-control"
                        id="jobTitle" name="jobTitle"
                        aria-describedby="emailHelp"
                        placeholder="Enter Job Title">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Job Description</label>
                        <textarea class="form-control" name="summary" id="summary" cols="46" rows="5" placeholder="Profile Summary">Job type, Role, Salary, Location, Required experience etc.</textarea>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Key Skills</label>
                        <input type="text" class="form-control"
                        id="keySkills" name="keySkills"
                        aria-describedby="emailHelp"
                        placeholder="Enter Key Skills">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Desired Candidate Profile</label>
                        <textarea class="form-control" name="desiredCandidates" id="desiredCandidates" cols="46" rows="5" placeholder="Enter Desired Candidate Profile">Please refer to the Job description above      
                        
                        Education-
                        UG: B.Tech/B.E.
                        PG:Post Graduation Not Required</textarea>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Organization Profile</label>
                        <textarea class="form-control" name="organizationProfile" id="organizationProfile" cols="46" rows="5" placeholder="Enter Organization Profile">AttainU
                        Future of Higher Education
                        </textarea>
                    </div>

                    <p></p>

                    <div>    
                        <button type="submit" id="submit" name="submit" class="btn btn-primary">Post</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>