<!--
    Author: Ravi Shankar
    Date Created: 09/04/2019
    Description: This html page is used to design the Recruiter-Signup Page of Udyog.com
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/studentProfileForm.css">
    <title>Student Profile Form</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <h2 class="navHeading">Udyog.com - Student Profile Form</h2>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5> <a href="/studentDash" class="text-white navbar-brand">Home</a>
                    </h5>
                    <h5> <a href="" class="text-white navbar-brand">Edit
                            Profile</a> </h5>
                    <h5> <a href=""
                            class="text-white navbar-brand">Notification</a>
                    </h5>
                    <h5> <a href="/recruiterLogout" class="text-white navbar-brand">Logout</a>
                    </h5>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarToggleExternalContent"
                    aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="offset-md-4 col-md-4">
                <div class="row">
                    <form action="/studentProfile" method="POST">

                        <p></p>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                            aria-describedby="emailHelp" placeholder="Enter Name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Upload photo</label>
                            <input type="file" class="form-control" id="photo"
                                name="photo" aria-describedby="emailHelp"
                                placeholder="Upload profile photo">
                            <small id="emailHelp"
                                class="form-text text-muted"></small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Attach
                                Resume</label>
                            <input type="file" class="form-control" id="resume"
                                name="resume" aria-describedby="emailHelp"
                                placeholder="Enter Phone Number">
                            <small id="emailHelp"
                                class="form-text text-muted"></small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Key Skills</label>
                            <input type="text" class="form-control"
                                id="designation" name="keySkills"
                                aria-describedby="emailHelp"
                                placeholder="Key Skills">

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Education</label>
                            <input type="text" class="form-control"
                                id="organization" name="education"
                                aria-describedby="emailHelp"
                                placeholder="Enter Highest Education">

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Profile
                                Summary</label>
                            <textarea class="form-control" name="summary"
                                id="summary" cols="46" rows="5"
                                placeholder="Profile Summary">Text goes here</textarea>
                        </div>

                        <div class="form-group">
                            <label
                                for="exampleInputPassword1">Experience</label>
                            <input type="number" class="form-control"
                                name="experience" id="experience"
                                placeholder="experience">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">IT Skills</label>
                            <input type="text" class="form-control"
                                name="itSkills" id="skills"
                                placeholder="Use comma to separate skills">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Projects</label>
                            <input type="text" class="form-control"
                                name="projects" id="projects"
                                placeholder="Use comma to separate skills">
                        </div>

                        <div>
                            <p></p>
                            <button type="submit" id="submit" name="submit"
                                class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>


            </div>
            <!--column close-->


        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>

</html>