<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>viewProfile</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h2 class="text-white">Udyog.com - Recruiter Dashboard</h2>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                <h5> <a href="" class="text-white navbar-brand">Home</a> </h5>
                <h5> <a href="/recruiterProfile" class="text-white navbar-brand">Edit Profile</a> </h5>
                <h5> <a href="/recruiterPostJob" class="text-white navbar-brand">Post Job</a> </h5>
                <h5> <a href="" class="text-white navbar-brand">Notification</a> </h5>
                <h5> <a href="/recruiterLogout" class="text-white navbar-brand">Logout</a> </h5>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </nav>
     
    <div method="get">

    </div>
    
    
</body>
</html>